body {
    background-image: url('img/Background.jpg');
}

.navbar {
    background-color: #1F2833;
}

.navlink {
    color: #C5C6C7;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Orbitron', sans-serif;
}

#navbarHeading {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    padding-top: 3px;
    color: #C5C6C7;
}

.heading {
    text-align: center;
    color: floralwhite;
    margin-bottom: 0%;
}

h1 {
    padding-top: 1.5vh;
    margin-top: 10vh;
    margin-bottom: 0px;
    font-family: 'Gluten', cursive;
    color: #45A29E;
}

h2 {
    margin: 0px;
    font-size: 85px;
    font-family: 'Gluten', cursive;
    color: #45A29E;
}

h3 {
    padding-top: 1.5vh;
    margin-top: 10vh;
    margin-bottom: 0px;
    font-size: 60px;
    font-family: 'Gluten', cursive;
    color: #45A29E;
}

.upload_group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 50vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    align-items: center;
    color: white;
}
